<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Using A Recruiter</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
            
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            
            
            </div>
            
            </div>
        </div>
    </div>
</section>
