<section id="businesses">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Businesses staffing up your organization</h2>
                <hr class="primary text-left">
                <p>TRW accepts search assignments for Sr. Management Executives, Sales Professionals, Customer Service Managers, IT Professionals and Operations Management in the Business Process Outsourcing and Technology marketplaces.

</p>
              <br/>
              <p>Once an assignment is accepted, we dedicate the necessary resources and time to successfully complete a client’s search, using all feasible search techniques. Our candidates typically surface from three sources:</p>
                <br/>
                <p>1. <b>Referrals</b>…we’ve been in the business long enough now (6 years) that often candidates are referred to us without our solicitation…our             reputation as a straight shooter has become a real asset.

</p>
                <br/>
                <p>2. <b>Database Searches</b>…using the latest Internet search techniques, we can search nearly 100 databases and post eye-catching ads that             attract quality candidates.</p>
                <br/>
                <p><b>Source Companies</b>…primarily your competitors. Why not hire the brightest stars from companies in your market space? They already             know the industry, truncating ramp-up time.</p>
                <br/>
                <p>Our firm uses a thorough and proven process. Initially we contact candidates based on our knowledge of the industry and the reputation of the players. Second, we interview viable candidates for further evaluation based on your criteria. Finally, we select the best three candidates to present to the Client Company.</p>
                <br/>
                <p>By the time you meet the candidates, they have visited and are familiar the client’s website, have discussed and considered the pros and cons of the situation and understand the job requirements. In short, the candidate is prepared to accept an offer should one be extended.</p>
                <br/>
                <p>Finally, as a third party, we are able to provide clients with candidate feedback and assist in structuring a compensation package acceptable to both client and candidate. We can mediate the terms and specifics between the parties involved creating an effective atmosphere that produces results. Before you ever make a formal offer to a candidate, you will know whether or not it will be accepted. We do not want you to make an offer to a candidate he/she is not prepared to accept. We don’t think that’s good for you or the candidate.</p>
                <br/>
                <p>Your business success isn’t primarily dependent on the latest management theories, the hottest technological breakthroughs, the best tight-wire budget strategies, the latest acquisitions or the newest sizzling market projections. <b>The Human Element</b> is your organization’s most valuable asset…it is your competitive advantage. Your company will be no better than the people you employ. We help you hire the right people by firing the right questions.</p>
                <br/>
                <p>Hire good attitudes, not just good skills. Hire people who want responsibility and are capable of assuming it. Hire service champions who are passionate customer advocates, taking pride in serving customers. To them each customer interaction is an audition. Those are the kinds of people who make a company click.</p>
                <br/>
                <p>If we’re on the same page here, let us partner with you to find and attract the best and the brightest. Frankly, we believe that we do what we do best better than anyone else. All we ask is that you let us prove it to you.</p>
                <br/>
                <p>Hire good attitudes, not just good skills. Hire people who want responsibility and are capable of assuming it. Hire service champions who are passionate customer advocates, taking pride in serving customers. To them each customer interaction is an audition. Those are the kinds of people who make a company click.</p>
                
                
            </div>
        
      

    </div>
</section>
