<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Doing business since 1998, TRW is aligned with Management Recruiters International (the world’s largest recruiting organization). We have access to more than 4,000 recruiters worldwide. The key to our continuing success is based upon our competitive advantage of a large referral base, specialization, and the leveraging of technology in our own industry.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
