<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Candidates looking for a quality company to work for</h2>
                <hr class="primary">
                <p>TRW only works with employers of choice. We have yet to place anyone into a company we would not consider going to ourselves. Some companies we have chosen not to work for because we have not been convinced they are quality environments for employees. We are in this business for the long haul. The last thing we want to have happen is to place candidate in a unsuitable company and then have you call us three months later and ask, “What were you thinking?”</p>
              <br/>
              <p>We will marshal all our resources in your behalf. We will meticulously go over your resume with a fine tooth comb. In our minds, a resume is really an employment proposal document that will help the hiring manager to see quickly and easily that you are the person who can solve his problem. What is his problem? He/she either has to meet revenue targets in a specific market space, managing existing business, make his company more efficient or other issues depending on the nature of the position. We will then help you tailor your resume to the specific opportunities we agree to target.</p>
            </div>
        
      

    </div>
</section>
