<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Candidates looking for a quality company to work for</h2>
                <hr class="primary">
                <p>TRW only works with employers of choice. We have yet to place anyone into a company we would not consider going to ourselves. Some companies we have chosen not to work for because we have not been convinced they are quality environments for employees. We are in this business for the long haul. The last thing we want to have happen is to place candidate in a unsuitable company and then have you call us three months later and ask, “What were you thinking?”</p>
              <br/>
              <p>We will marshal all our resources in your behalf. We will meticulously go over your resume with a fine tooth comb. In our minds, a resume is really an employment proposal document that will help the hiring manager to see quickly and easily that you are the person who can solve his problem. What is his problem? He/she either has to meet revenue targets in a specific market space, managing existing business, make his company more efficient or other issues depending on the nature of the position. We will then help you tailor your resume to the specific opportunities we agree to target.</p>
                <br/>
                <p>We will also assume responsibility to help you become expert in the interview room. You are not a professional interviewee. If you were, it would make us nervous because we wonder how you got so good—is this all you do? Most candidates believe that a company hires the most qualified person. This is not true. If a candidate gets an interview, he’s qualified; otherwise they wouldn’t be interviewing him/her. So, everyone who interviews is qualified. Thus, the decision to tender an offer is usually made from other criteria than qualifications. We help you identify those and get that offer. Remember, in the recruiting business, there is no prize for second place. It is to our best interest to make certain you win the job.</p>
                <br/>
                <p>Because of our relationship with companies, we often we know of positions that are never advertised. If we believe you are a good fit, we will place you in front of the hiring manager and coach you from resume preparation to offer. The worst thing that will happen is that you will have a better resume document and have much better interviewing skills.</p>
                <br/>
                <p>We will be straightforward with you, yet tactful. We will act in your best interests. We will get good feedback for you and keep you informed along the way so you know where you stand at all points along the way.</p>
                <br/>
                <p>Our goal is to stay with you for the remainder of your career—either placing you with companies or helping you hire the brightest and best.</p>
                <br/>
                <p>If you would like us to partner with you in your job search, please check our job listings and submit your resume for the appropriate postion(s).</p>
                
                
            </div>
        
      

    </div>
</section>
