<section class="bg-primary" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Big clients with big results</h2>
                <hr class="light">
                <p class="has-line-data" data-line-start="0" data-line-end="4"><img src="https://user-images.githubusercontent.com/62229942/76823483-fdb0ad80-67d9-11ea-8e42-4544ba51850c.png" alt="cypress" align="left" width="200"><br>
<img src="https://user-images.githubusercontent.com/62229942/76823484-fe494400-67d9-11ea-96df-67705a83fda4.png" alt="hp" align="middle" width="200"><br>
<img src="https://user-images.githubusercontent.com/62229942/76823485-fee1da80-67d9-11ea-81ac-068598fb92c0.png" alt="ibm" align="middle" width="200"><br>
<img src="https://user-images.githubusercontent.com/62229942/76823486-fee1da80-67d9-11ea-8eaf-1a884780cd06.png" alt="oracle" align="right" width="200"></p>
            </div>
        </div>
    </div>
</section>
