<section class="bg-primary" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Big clients with big results</h2>
                <hr class="light">
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="https://user-images.githubusercontent.com/62229942/76867759-97547b00-682b-11ea-8381-2d15cf3db74b.png" alt="cypress" width="200">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <img src="https://user-images.githubusercontent.com/62229942/76867765-97ed1180-682b-11ea-9ac5-498979c2d876.png" alt="oracle" width="200"><br>

                 
                                   </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <img src="https://user-images.githubusercontent.com/62229942/76867764-97ed1180-682b-11ea-81ef-e6b96fb4e12b.png" alt="ibm" width="200"><br>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                <img src="https://user-images.githubusercontent.com/62229942/76867761-97547b00-682b-11ea-87a0-5864e91772ed.png" alt="hp" width="170"></p>
  
                </div>
            </div>
        </div>
    </div>
                <p 
<br>
            
        
    
</section>
