<section id="endorsements">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Endorsements & Letters of Recommendation</h2>
                <p>We're pleased to provide letters of reference from a few of our valued clients</p>
                <hr class="primary">
                <a href="/docs/reference1.html" class="btn btn-primary btn-xl wow tada">Reference #1</a>
                <a href="/docs/reference2.md" class="btn btn-primary btn-xl wow tada">Reference #2</a>
                <a href="/docs/reference3.md" class="btn btn-primary btn-xl wow tada">Reference #3</a>
                <a href="/docs/reference4.md" class="btn btn-primary btn-xl wow tada">Reference #4</a>
            </div>
        
      

    </div>
</section>
