<section id="endorsements">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Endorsements & Letters of Recommendation</h2>
                <hr class="primary">
               <div class="boxed">
  To Whom It May Concern:

 

I am honored to take this opportunity to discuss the exceptional qualities and outstanding executive placement services provided by Joe Buonassissi whom I have had the pleasure of knowing and working with, placing candidates for me at FutureCall and S.R. Teleperformance for the past eight years, where I held posts as Vice President of Sales.  I continue today to leverage Joe’s recruiting expertise and vast contact center industry knowledge at West. 


</div>
                
            </div>
        
      

    </div>
</section>
